body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: brown;
}

p{
    width: 50px;
    overflow: hidden;
    border: 2px solid brown;
}

.wrap{
    word-wrap: break-word;
}
